DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
JWT_SECRET="troque-por-um-segredo-forte-com-pelo-menos-32-caracteres"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
STORAGE_PROVIDER="supabase"
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_BUCKET="catalogos"
